{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
{% set toggle_id = attributes.id ~ '-toggle' %}
<div {{ attributes.addClass(['card', 'mb-3']) }}>
  {%- if title -%}
    {%
      set summary_classes = [
        required ? 'js-form-required',
        required ? 'form-required',
        'card-header',
        'collapse-arrow',
        'no-user-select',
      ]
    %}
    <summary{{ summary_attributes.addClass(summary_classes) }} data-toggle="collapse" data-target="#{{ toggle_id }}" aria-expanded="true" aria-controls="{{ toggle_id }}">{{ title }}</summary>
  {%- endif -%}
  <div class="card-body collapse show" id="{{ toggle_id }}">
    {% if errors %}
      <div class="text-danger">
        <strong>{{ errors }}</strong>
      </div>
    {% endif %}
    {%- if description -%}
      <div>{{ description }}</div>
    {%- endif -%}
    {%- if children -%}
      {{ children }}
    {%- endif -%}
    {%- if value -%}
      {{ value }}
    {%- endif -%}
  </div>
</div>
