{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% set classes = [] %}

{% if attributes.type == 'button' or attributes.type == 'reset' or attributes.type == 'submit' %}
    {% set classes = classes | merge(['btn', 'btn-primary']) %}
    <button{{ attributes.addClass(classes) | without('value') }}>{{ attributes.value }}</button>
{% else %}
  {% if attributes.type == 'checkbox' or attributes.type == 'radio' %}
    {% set classes = classes | merge(['form-check-input']) %}
  {% elseif attributes.type == 'image' %}
    {% set classes = classes | merge(['btn', 'btn-light']) %}
  {% else %}
    {% set classes = classes | merge(['form-control']) %}
  {% endif %}
  <input{{ attributes.addClass(classes) }} />{{ children }}
{% endif %}
