{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
  <nav role="navigation" aria-labelledby="pagination-heading">
    <h4 class="sr-only">{{ 'Pagination'|t }}</h4>
    <ul class="pagination">
      {% if items.previous %}
        <li class="page-item">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes.addClass('page-link')|without('href', 'title', 'rel') }}>
            <span class="sr-only">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">{{ items.previous.text|default('‹‹'|t) }}</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="javascript:;" title="{{ 'Go to previous page'|t }}" rel="prev" class="page-link" }}>
            <span class="sr-only">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">{{ '‹‹'|t }}</span>
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li class="page-item disabled">
          {% trans %}
            <a class="page-link" href="javascript:;">Page {{ items.current }}</a>
          {% endtrans %}
        </li>
      {% endif %}
      {% if items.next %}
        <li class="page-item">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes.addClass('page-link')|without('href', 'title', 'rel') }}>
            <span class="sr-only">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">{{ items.next.text|default('››'|t) }}</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="javascript:;" title="{{ 'Go to next page'|t }}" rel="next" class="page-link" }}>
            <span class="sr-only">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">{{ '››'|t }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
