{#
/**
 * @file
 * Default theme implementation for the Appearance page.
 *
 * Available variables:
 * - attributes: HTML attributes for the main container.
 * - theme_groups: A list of theme groups. Each theme group contains:
 *   - attributes: HTML attributes specific to this theme group.
 *   - title: Title for the theme group.
 *   - state: State of the theme group, e.g. installed or uninstalled.
 *   - themes: A list of themes within the theme group. Each theme contains:
 *     - attributes: HTML attributes specific to this theme.
 *     - screenshot: A screenshot representing the theme.
 *     - description: Description of the theme.
 *     - name: Theme name.
 *     - version: The theme's version number.
 *     - is_default: Boolean indicating whether the theme is the default theme
 *       or not.
 *     - is_admin: Boolean indicating whether the theme is the admin theme or
 *       not.
 *     - notes: Identifies what context this theme is being used in, e.g.,
 *       default theme, admin theme.
 *     - incompatible: Text describing any compatibility issues.
 *     - operations: A list of operation links, e.g., Settings, Enable, Disable,
 *       etc. these links should only be displayed if the theme is compatible.
 *
 * @see template_preprocess_system_themes_page()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% for theme_group in theme_groups %}
    {%
      set theme_group_classes = [
        'system-themes-list',
        'system-themes-list-' ~ theme_group.state,
      ]
    %}
    <div{{ theme_group.attributes.addClass(theme_group_classes) }}>
      <h2 class="system-themes-list__header">{{ theme_group.title }}</h2>
      {% for theme in theme_group.themes %}
        {%
          set theme_classes = [
            'card',
            'mb-3',
            theme.is_default ? 'theme-default',
            theme.is_admin ? 'theme-admin',
          ]
        %}
        <div{{ theme.attributes.addClass(theme_classes) }}>
          <h3 class="card-header">
            {{- theme.name }} {{ theme.version -}}
            {% if theme.notes %}
              {% for note in theme.notes %}
                <span class="badge badge-pill badge-secondary">{{ note }}</span>
              {% endfor %}
            {%- endif -%}
          </h3>
          {% if theme.screenshot %}
            {% set ssclasses = theme.screenshot['#attributes']['class'] | merge(['card-img-top', 'p-5', 'bg-dark']) %}
            {{ theme.screenshot | merge({ '#attributes': { 'class': ssclasses } }) }}
          {% endif %}
          {# Display operation links if the theme is compatible. #}
          <ul class="list-group list-group-flush">
            <li class="list-group-item lead">{{ theme.description }}</li>
            {% if theme.incompatible %}
              <li class="list-group-item list-group-item-danger">{{ theme.incompatible }}</li>
            {% endif %}
          </ul>
          {% if not theme.incompatible %}
            {{ theme.operations }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
