{#
/**
 * @file
 * Default theme implementation for the modules uninstall page.
 *
 * Available variables:
 * - form: The modules uninstall form.
 * - modules: Contains multiple module instances. Each module contains:
 *   - attributes: Attributes on the row.
 *   - module_name: The name of the module.
 *   - checkbox: A checkbox for uninstalling the module.
 *   - checkbox_id: A unique identifier for interacting with the checkbox
 *     element.
 *   - name: The human-readable name of the module.
 *   - description: The description of the module.
 *   - disabled_reasons: (optional) A list of reasons why this module cannot be
 *     uninstalled.
 *
 * @see template_preprocess_system_modules_uninstall()
 *
 * @ingroup themeable
 */
#}
{{ form.filters }}

<table class="table">
  <thead>
    <tr>
      <th>{{ 'Uninstall'|t }}</th>
      <th>{{ 'Name'|t }}</th>
      <th>{{ 'Description'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for module in modules %}
      <tr{{ module.attributes }}>
        <td>
          {{- module.checkbox -}}
        </td>
        <td>
          <label for="{{ module.checkbox_id }}">{{ module.name }}</label>
        </td>
        <td class="p-0">
          <p class="list-group-item-like m-0">{{ module.description }}</p>
          {% if module.reasons_count > 0 %}
            <ul class="list-group list-group-flush">
              {%- trans -%}
                <li class="list-group-item list-group-item-danger">The following reason prevents {{ module.module_name }} from being uninstalled:</li>
              {%- plural module.reasons_count -%}
                <li class="list-group-item list-group-item-danger">The following reasons prevent {{ module.module_name }} from being uninstalled:</li>
              {%- endtrans %}
              {%- for reason in module.validation_reasons -%}
                <li class="list-group-item list-group-item-warning">{{ reason }}</li>
              {%- endfor -%}
              {%- if module.required_by -%}
                <li class="list-group-item list-group-item-warning">{{ 'Required by: @module-list'|t({'@module-list': module.required_by|safe_join(', ') }) }}</li>
              {%- endif -%}
            </ul>
          {% endif %}
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="3">{{ 'No modules are available to uninstall.'|t }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ form|without('filters', 'modules', 'uninstall') }}
