{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    {% for item in breadcrumb %}
      {% if item.url %}
        {% if loop.last %}
          <a class="nav-item nav-link p-0 active" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          <a class="nav-item nav-link p-0" href="{{ item.url }}">{{ item.text }}</a><div class="px-2">></div>
        {% endif %}
      {% else %}
        {{ item.text }}
      {% endif %}
    {% endfor %}
{% endif %}
