{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'nav',
    'd-block',
    region_type ~ '-system-menu',
    region_type == 'flex' ? 'col',
    'flex-columns',
  ]
%}
{% if content %}
{% if derivative_plugin_id %}
  {% set classes = classes | merge(['menu--' ~ derivative_plugin_id|clean_class]) %}
{% endif %}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if configuration.label_display %}
    {% set title_attributes = title_attributes.setAttribute('id', heading_id).setAttribute('href', 'javascript:;').addClass(['nav-item', 'nav-link']) %}
  {% else %}
    {% set title_attributes = title_attributes.addClass('sr-only') %}
  {% endif %}
  {{ title_prefix }}
  <h4 class="m-0"><a{{ title_attributes }}>{{ configuration.label }}</a></h4>
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
{% endif %}
