{% extends 'block.html.twig' %}

{% block content %}
  <div class="row no-gutters">
    <div class="col-12 col-md-auto m-auto">
      <div class="m-1">{{ content.site_logo }}</div>
      <div class="m-1"><h5>{{ content.site_name }}</h5></div>
    </div>
    <div class="col-12 col-md m-auto">
      {{ content.site_slogan }}
    </div>
  </div>
{% endblock %}
