@import "../bootstrap/functions";
@import "../bootstrap/variables";

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.animate *, .animate *:after, .animate *:before {
  transition: all 350ms linear;
}

.page-layout > *, main > * {
  flex: 0 0 auto;
}

body, .page-content, .dialog-off-canvas-main-canvas, .page-layout, .page-layout .fill {
  flex: 1 0 100%;
}

body, .page-content, .dialog-off-canvas-main-canvas, .page-layout, .page-layout .fill:not(.row) {
  flex-direction: column;
  display: flex;
}

.theme-debug-on .region-wrapper, .theme-debug-on .main-content-wrapper {
  border: 2px solid orange;
}

.theme-debug-on .region {
  border: 2px solid red;
}

a.tabledrag-handle .handle {
  width: 24px;
  height: 24px;
}

.list-group-item-like {
  padding: 0.75rem 1.25rem !important;
}

.collapse-arrow::before, .collapse-arrow-after::after {
  content: '';
  display: inline-block;
  margin: 0 0.1rem;
  transform: translate(0%, 40%);
  border-top: 0.5rem solid;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
}

.collapse-arrow.collapsed::before, .collapse-arrow-after.collapsed::after {
  transform: translate(25%, 15%);
  border-left: 0.5rem solid;
  border-right: 0.5 solid transparent;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}

.no-user-select {
  user-select: none;
}

.subtle-links .region-shade-dark,
.region-shade-dark .subtle-links,
.region-shade-dark.subtle-links {
  & > a, & > * > a, :not(.contextual-links) > * > a {
    &:not(.btn):not(.active) {
      color: rgba(255, 255, 255, 0.5);

      &:hover, &:focus, &:active {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.subtle-links .region-shade-light,
.region-shade-light .subtle-links,
.region-shade-light.subtle-links {
  & > a, & > * > a, :not(.contextual-links) > * > a {
    &:not(.btn):not(.active) {
      color: rgba(0, 0, 0, 0.5);

      &:hover, &:focus, &:active {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
