{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
  set classes = "page-layout text-dark bg-light theme-debug-" ~ theme_debug
%}
<div class="{{ classes }}">
  {% if page.zones %}
    {% for zone_name, zone in page.zones %}
      {% if zone.content %}
        {% if zone.tag == "main" or zone.role == "main" %}<a id="main-content" tabindex="-1"></a>{% endif %}
        {%
          set zone_attributes = create_attribute()
          .addClass('zone-' ~ zone_name)
          .addClass(zone.class)
          .addClass(zone.fill ? 'fill')
          .setAttribute('id', zone.id)
          .setAttribute('role', zone.role)
        %}
        {% set zone_tag = zone.tag ?: 'section' %}
        <!-- START {{ zone_name }} with {{ zone_tag }} -->
        <{{zone_tag}}{{zone_attributes}}>
          {% for region in zone.content %}
            {% if region.content or region.content_left or region.content_right %}
              {% if region.tag == "main" or region.role == "main" %}<a id="main-content" tabindex="-1"></a>{% endif %}
              {% if region.wrapper %}
                <div{{ create_attribute()
                  .addClass(region.wrapper)
                  .addClass(region.fill ? 'fill')
                }}>
              {% endif %}
              {% if region.container %}
                <div{{ create_attribute()
                  .addClass(region.fill ? 'fill')
                  .addClass(region.container ? 'container px-0')
                }}>
              {% endif %}
              {% if region.sidebars %}
                <div{{ create_attribute()
                  .addClass('row px-0 mx-0')
                  .addClass(region.fill ? 'fill')
                }}>
                  {{ region.content_left }}
                  {{ region.content }}
                  {{ region.content_right }}
                </div>
              {% else %}
                {{ region.content }}
              {% endif %}
              {% if region.container %}
                </div>
              {% endif %}
              {% if region.wrapper %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </{{ zone_tag }}>
        <!-- END {{ zone_name }} with {{ zone_tag }} -->
      {% endif %}
    {% endfor %}
  {% else %}
    <header>
      {{ page.header }}
      {{ page.primary_menu }}
    </header>
    {{ page.hero }}
    <main role="main">
      {{ page.title }}
      {{ page.highlighted }}
      {{ page.secondary_menu }}
      <a id="main-content" tabindex="-1"></a>
      {{ page.content_top }}
      <div class="main-content-wrapper container-fluid">
        <div class="main-content container px-0">
          <div class="row px-0 mx-0">
            {{ page.sidebar_left }}
            {{ page.content }}
            {{ page.sidebar_right }}
          </div>
        </div>
      </div>
      {{ page.content_bottom }}
    </main>
    <footer>
      {{ page.footer }}
      {{ page.copyright }}
    </footer>
  {% endif %}
</div>
