{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 * - color: The color of the region's background. Can be 'none' or a bootstrap color name IE 'primary', 'info', etc.
 * - shade: The darkness of the region's background
 * - type: The style of the region: block or flex
 * - zone_data: If the helper module is installed, then this holds config for the zone this region is in.
 * - region_data: If the helper module is installed, then this holds config for this region.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'position-relative',
    shade ? 'region-shade-' ~ shade : 'region-shadeless',
    region_data ? region_data.config.class : 'container',
    region_data.sidebarPosition ? region_data.config['sidebar-class'] : region_data.config['middle-class'],
    region_data.sidebarPosition ? region_data.config[region_data.sidebarPosition ~ '-class'],
    (region_data and region_data.config.sidebars) ? 'col-12 col-md' ~ (region_data.sidebarPosition ? '-' ~ sidebar_width),
    shade == 'dark' ? 'text-light',
    shade == 'light' ? 'text-dark',
    color ? 'bg-' ~ color,
  ]
%}
{% if content %}
  {% block content %}
    {% set region_tag = (region_data ? (region_data.sidebarPosition ? 'aside' : region_data.config.tag)) ?: 'section' %}
    {%
      set attributes = attributes
        .addClass(classes)
        .setAttribute('id', region_data.config.id)
        .setAttribute('role', region_data.config.role)
    %}
    <!-- DEBUG START {{ region }} with {{ region_tag }} -->
    <{{ region_tag }}{{ attributes }}>
      <!-- did open tag -->
      {% if type == "flex" %}
        <div class="row justify-content-center no-gutters">
        <!-- flex content -->
      {% endif %}
      <!-- content -->
      {{ content }}
      <!-- end content -->
      {% if type == "flex" %}
        <!-- end flex content -->
        </div>
      {% endif %}
    <!-- doing end tag -->
    </{{ region_tag }}>
    <!-- DEBUG START {{ region }} with {{ region_tag }} -->
  {% endblock %}
{% endif %}
